In [16]:
import pandas as pd
import calendar
from datetime import datetime

df = pd.read_csv('crt_words_2.csv')

In [17]:
df

       month    word  pct_of_clips  num_clips
0    2020-07   biden           0.0       13.0
1    2020-08   biden           0.0        4.0
2    2020-09   biden           2.2       93.0
3    2020-10   biden          18.8       32.0
4    2020-11   biden          50.0        6.0
..       ...     ...           ...        ...
283  2022-02  gender           0.0      164.0
284  2022-03  gender           3.4      119.0
285  2022-04  gender          10.3      213.0
286  2022-05  gender           9.3      150.0
287  2022-06  gender          10.0      110.0

[288 rows x 4 columns]

In [18]:
df.date = pd.to_datetime(df.month)

/var/folders/_4/_njb58q944xdbv6xcbzbzmqh0000gn/T/ipykernel_90970/2014646941.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.date = pd.to_datetime(df.month)

In [27]:
df.date.dt.year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
283    2022
284    2022
285    2022
286    2022
287    2022
Name: month, Length: 288, dtype: int64

In [31]:
df['month_name'] = df.date.dt.month_name()
df['year'] = df.date.dt.year

df.to_csv('crt_words_2.csv',index=False)

In [28]:
def format_date(date):
    month = date.dt.month_name()
    # year = date.dt.year
    return (f"{month}")

df.date.apply(format_date)

AttributeError: 'Timestamp' object has no attribute 'dt'